.contact-us-main {
  text-align: center;
  padding-top: 84px;
  min-height: 85vh;
  position: relative;
  z-index: 2;
}

.contact-us-blocks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contact-us-block {
  position: relative;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  margin: 32px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

#workTogetherBtn {
  background-image: url("../images/contact-us/work.png");
}

#assistanceBtn {
  background-image: url("../images/contact-us/assistance.jpg");
}

#joinBtn {
  background-image: url("../images/contact-us/join.jpg");
}

.contact-us-block-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(66, 66, 66, 0.3);
}

/* To center the text in the block i used this guide https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */

.contact-us-block-text {
  position: relative;
  margin: auto;
  padding: 32px;
  text-align: center;
}

.hidden-section {
  display: none;
}

.contact-form-container {
  display: flex;
  flex-direction: row;
  padding: 32px 0;
}

.contact-form-image {
  height: 600px;
  flex-basis: 40%;
  margin-right: auto;
}

#form-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}

.contact-form-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.contact-form-input {
  border-radius: 24px;
  outline: none;
  border: none;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: 500;
  color: #212121;
}

.contact-form-input-error {
  visibility: hidden;
  color: #f44336;
  font-size: 12px;
  text-align: left;
  padding: 8px 16px;
}

.contact-form-input-wrapper.invalid-input .contact-form-input,
.contact-form-input-wrapper.invalid-input .contact-form-textarea {
  color: #f44336;
}

.contact-form-input-wrapper.invalid-input .contact-form-input-error {
  visibility: visible;
}

.contact-form-textarea {
  border-radius: 24px;
  outline: none;
  border: none;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: 500;
  color: #212121;
  font-family: "Open Sans";
}

.contact-form-button {
  border-radius: 24px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 24px;
  padding: 12px 16px;
  color: black;
  background-color: #f3e679;
  cursor: pointer;
}

.contact-form-button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

@media only screen and (max-width: 1023px) {
  .contact-us-blocks {
    flex-direction: column;
  }

  .contact-form-container {
    flex-direction: column;
    flex-basis: 100%;
  }

  .contact-form-image {
    height: 300px;
    margin-bottom: 52px;
  }
}
