.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  background-image: url("../images/v.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 48px;
  width: 48px;
  margin: 16px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  margin-left: auto;
  margin-bottom: auto;
  background-color: #ffffff;
  border-radius: 0 0 48px 48px;
  padding: 0 48px;
  width: 80%;
  max-width: 960px;
  box-shadow: 0px 1px 2px 1px rgba(33, 33, 33, 0.2);
}

.header-nav-ul {
  display: flex;
  width: 100%;
  align-items: center;
}

.header-nav-item {
  margin: 0 24px;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
}

.header-nav-item a {
  display: block;
  position: relative;
  color: #424242;
  text-decoration: none;
}

.header-nav-item.active .header-nav-link:after,
.header-nav-item .header-nav-link:hover:after,
.header-nav-item .header-nav-link:focus:after,
.header-nav-item .header-nav-link:active:after {
  width: 100%;
}

.header-nav-item .header-nav-link:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #424242;
  transition: 0.35s;
}

.header-nav-link {
  color: #424242;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

@media only screen and (max-width: 1023px) {
  .header-nav {
    display: none;
  }
}
