.service {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

.service figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.service figure img {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.8;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}

.service figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.service figure figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: "";
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.service figure:hover figcaption::before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.service figure h2 {
  word-spacing: -0.15em;
  font-weight: 600;
  margin: 0;
  padding: 20% 0 20px 0;
}

.service figure:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}
