.services-main {
  text-align: center;
  padding-top: 84px;
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px 0;
}

.service-container {
  display: block;
  height: 320px;
  margin-bottom: 32px;
}

.service {
  height: 100%;
  width: 100%;
}

.service img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 1023px) {
  .service-container {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1215px) {
  .service-container {
    flex-basis: 45%;
  }
}

@media only screen and (min-width: 1216px) and (max-width: 1407px) {
  .service-container {
    flex-basis: 30%;
  }
}

@media only screen and (min-width: 1408px) {
  .service-container {
    flex-basis: 23%;
  }
}
